.Text {
  width: 100%;
}

.heading {
  font-weight: 500;
  font-size: 35px;
}

.sub-heading {
  font-weight: 400;
}

.paragraph {
  font-weight: normal;
  font-size: 18px;
}

.default {
  margin: 0;
  padding: 0;
}
