.Add {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 11%;
    background-color: gray;
}

h3 {
    color: white;
    font-weight: normal;
}